html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100;
}
canvas {
  display: block;
}

.p5Canvas {
  z-index: -1;
}

.content {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  width: 35%;
  min-width: 500px;
  font-family: chillax, tahoma;
  color: black;
  font-weight: 500;

  /* configured from css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@font-face {
  font-family: pixelFont;
  src: url(assets/small_hollows.ttf) format('truetype');
}

@font-face {
  font-family: chillax;
  src: url("assets/Chillax-Variable.ttf") format('truetype');
}

img {
  margin: 25px;
  margin-bottom: 0;
  border-radius: 50%;
  width: 123px;
}

#myInfo {
  display: flex;
}

#myName {
  margin: 0;
  padding-top: 35px;
  font-size: xx-large;
}

#absoluteSoftware {
  margin-top: 15px;
  font-weight: bold;
}

#myTasks {
  margin-right: 25px;
}

#projectDesc {
  margin-top: 15px;
  margin-right: 25px; 
}

#myCourses {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
}

#leftFlexBoxLinkTitles {
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 20px;
  min-width: 70px;
}

#links {
  margin-top: 10px;
  text-decoration: none;
  color: #333333;
}

#inputDiv {
  display: flex;
}

.sectionHead {
  font-family: pixelFont, tahoma;
  font-size: 22px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 0;
}

.flexContainer {
  display: flex;
  margin-top: 0;
}

.leftFlexBox {
  min-width: 160px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 5%;
  margin-bottom: 0px;
}

p {
  margin: 0px;
}

p.paragraphs {
  font-size: 20px; 
  margin: 25px;
  margin-top: 10px;
}

.newSeed {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.seedDisplay {
  font-family: chillax, tahoma;
  margin-top: 5px;
  margin-left: 25px;
  font-size: 18px;
}

input {
  width: 160px;
  height: 20px;
  margin-top: 7px;
  margin-left: 50px;
  border: 3px solid;
  border-radius: 5px;
  border-color: #333333;
  outline: none;
  background: rgba(0, 0, 0, 0);
  font-family: chillax, tahoma;
  font-weight: bold;
  font-size: 18px;
}
